



html, body {
    height: 100%;
    margin: 0;
  }

  body {
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  img{
    pointer-events: none
  }

  canvas {
    border: 6px solid white;
  }


  .form-check-label{
    line-height: 3rem;
  }

  .custom-span{
    color: transparent; 
    background-color: white; 
    border-radius: 10px;
}

.modal-content {
  border: 3px dashed white;
  background-color: #000;
  color: #fff;
}



input[type="radio"] {
  transform: translate(20px,10px);
  display: grid;
  place-content: center;
  width:  1.5em;
  height: 1.5em;
  background-color: black;
}



#timerCount{
  display: none;
}

.fa {
  font-size: 30px;
  font-weight: 300;
  width:  50px;
  height: 50px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border-radius: 50%;
  background-color: #444;
  box-shadow: 0 0 8px 1px;
  transition: .5s;
}

.ico1:hover{ color: #5084f5; }
.ico2:hover{ color: #000000;}
.ico3:hover{ color:  #db0cc3;}
.ico4:hover{ color: #ff0808}

.icons a{
  color: gray;
}

.btn a {
  color: black;
  text-decoration: none;
}

input[type=radio].custom-radio {
  accent-color: green;
}